@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Playwrite+BE+VLG:wght@100..400&display=swap');
h1{
    color: red;
    text-decoration: overline; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-family: "Playwrite BE VLG", cursive;
    
    /* text-decoration; */
}
.gana{
    background-color: aqua;
    max-width: 1350px;
    height:600px;
    text-align: center;
    font-size: 30px;
    margin:20px auto ;
    padding: 100px ;
    font-family: "Playwrite BE VLG", cursive;
}
#button{
    background-color: tomato;
    border: 10px solid blueviolet;
    padding:5px 20px;
    /* margin:0px; */
    font-size: large;
    font-weight: 400;
    color:aliceblue;
    border-radius: 10px;
    height:50px;
    font-family: "Hi Melody", sans-serif;
}
/* span{ */
    /* background-color: yellow;
    padding: 10px;
    height: 100px;
    width: 200px;
    display:  inline block; */
/* } */